/** Login Styles **/
.logIn{
  height: 3em !important;
  background-color: #21293d !important;
  padding-top: 1em !important;
  font-family: 'Questrial', sans-serif !important;
  font-size: 12px !important;
}
.logInintems{
  text-decoration: none !important;
  color: #FFF !important;
  font-size: 12px !important;
}
.logInintems:hover{
  color: #FFF;
  text-decoration: underline !important;
  font-size: 12px !important;
}
/** Navbar styles **/
.navbar{
  font-family: 'Questrial', sans-serif !important;
  font-size: 20px !important;
  background-color: #cedae8 !important;
}
.item1{
  margin-right: 10em !important;
}
.item2{
  margin-right: 10em !important;
}
.item2{

}
/** Slider styles **/
.slider{
  height: 35em !important;
}
.img-slide{
  width: 100% !important;
  height: 35em !important;
}
/** Footer styles **/
.contactUs{
  height: 3em !important;
  background-color: #cedae8 !important;
  font-size: 60px !important;
  font-family: 'Questrial', sans-serif !important;
}
/** Register User styles **/
.registro{
  margin-top: 3em !important;
  margin-bottom: 3em !important;
  font-family: 'Questrial', sans-serif !important;
}
.form-field{
  width: 30em !important;
}




/** Styles blog **/
.article-img{
  width: 10em !important;
  heigh: 10em !important;
}
.blog-content{
  margin-top: 2em !important;
  margin-bottom: 2em !important;
  margin-left: 2em !important;
}
.blog-title{
  margin-bottom: 1.5em !important;
}